.data-submit {
	padding: 50px 0px 50px 0px;

}

.ss-data-field, .dos-data-field, .dmv-data-field {
    display: none;
	padding: 10px 10px 10px 10px;
}

.field-header {
    text-align: center;
	background: #000000b0;
	margin: auto;
	max-width: fit-content;
	border: white solid 3px;
	border-radius: 3px;
	padding: 25px;
	display: none;
}

.page-description {
    color: white;
	padding-bottom: 15px;
}

#center-tab {
	line-height: 5;
}

img.picturePreview {
	max-width: 200px;
	max-height: 200px;
}

.Mui-disabled { 
	background-color: white !important;
}

.Mui-focused { 
	color: white;
}

.MuiSelect-outlined {
	border-color: white;
	color: white;
}

#select-department {
	margin: auto;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.department-dropdown {
	margin: auto;
	margin-bottom: 150px;
    max-width: -moz-fit-content;
    max-width: fit-content;
}